/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header{
  border-top: 1px solid black;
  background: lightgrey;
  margin-top: 1em;
  height: 2.5em;
  padding: 0.5em 1em;
}

.main{
  padding: 3em;
}

.footer{
  border-bottom: 1px solid black;
  background: lightgrey;
  margin-top: 3em;
  height: 1.5em;
  padding: 0.8em 1em 0.4em;
}

div.field_with_errors label{
  color: red;
  height: 1em;
}

.greating{
  text-align: right;
  width: auto;
  font-size: 110%;
}
.nav{
  text-align: right;
  float: left;
  width: auto;
  clear: both;
}
.logo a{
  text-align: right;
  float: left;
  width: auto;
  text-decoration: none;
  font-size: 120%;
  font-weight: 600;
}
.signup, .login, .logout{
  float: right;
  width: auto;
}
