<%= content_tag :h1, "Tests:" %>
<%#= link_to "Create new test", new_user_test_path(id: @current_user.id) %>
<br/><br/>
<table>
  <tr>
    <th>Num</th>
    <th>Text</th>
    <th>Questions qty</th>
    <th>Progress</th>
    <th colspan="4">Actions</th>
  </tr>
  <%= render @tests %>
</table>
